@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$darkGreenColor: #025C66;
$mediumGreenColor: #98e2c6ff;
$lightGreenColor: #b9f5d8ff;
$lightBlueColor: #bfedefff;
$greenTextColor: #265e42;
$lightBlueColor: #bfedefff;
