@import "../fonts-colors.scss";

.tripsDataContainer {
  background-color: $darkGreenColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  min-height: 175px;
  h4 {
    color: $lightGreenColor;
    margin: 15px 0;
  }
  p {
    color: $lightBlueColor;
    font-size: 40px;
    margin: 0;
  }
}

.goToActionsButton {
  margin: 15px 0;
  padding: 12px 25px;
  background-color: inherit;
  border: 2px solid $lightGreenColor;
  color: $lightGreenColor;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    background-color: $lightGreenColor;
    border: 2px solid $lightGreenColor;
    color: $darkGreenColor;
    }
}

.tripsInputContainer {
  display: flex;
  justify-content: space-around;
}

.tripsInputForm {
  width: 380px;
  display: flex;
  flex-direction: column;
  input {
    border: 1px solid $mediumGreenColor;
    height: 40px;
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    font-size: 16px;
    text-transform: uppercase;
  }
  &-buttonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .inputButton {
      width: 120px;
      margin: 15px 0;
    }
    p{
      font-style: italic;
      color: red;
      font-size: 14px;
    }
  }

}

.tripsContainer {
  width: 300px;
  display: flex;
  flex-direction: column;
}
