@import "../fonts-colors.scss";

.tripsDataContainer {
  background-color: $lightGreenColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  p {
    color: $greenTextColor;
    font-size: 40px;
    margin: 0;
  }
  h4 {
    color: $greenTextColor;
    margin: 15px 0;
  }
}

.tripsInputContainer {
  display: flex;
  justify-content: space-between;
}

.tripsInputForm {
  width: 60%;
  display: flex;
  flex-direction: column;
  input {
    border: 1px solid;
    height: 40px;
    width: 350px;
    margin: 5px 0;
  }
  .inputButton {
    margin-top: 20px;
    width: 50%;
  }
}

.tripsContainer {
  border: 1px solid $lightGreenColor;
  display: flex;
  flex-direction: column;
  margin: 2px;
  padding: 10px;
  width: 40%;
  .goToActionsButton {
    display: flex;
    margin: 10px auto;
  }
  span {
    // text-align: center;
  }
}
