@import "../fonts-colors.scss";

footer {
  background-color: #fff;
  padding: 20px 15%;
  text-align: center;
  border-top: solid 2px $mediumGreenColor;
}

a {
  text-decoration: none;
  color: $greenTextColor;
  }

.footerContainer {

}
