@import "../fonts-colors.scss";

footer {
  background-color: #fff;
  border-top: solid 2px $mediumGreenColor;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 10px auto;
  padding: 10px 15%;
}

a {
  text-decoration: none;
  color: $greenTextColor;
  }
