@import "./components/fonts-colors.scss";

body {
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}

.pageWrapper{
  box-sizing: border-box;
  padding: 20px 15%;
}

%button{
  height: auto;
  min-width: 80px;
  border-radius: 10px;
  padding: 5px 20px;
}

button{
  @extend %button;
}
