@import "./components/fonts-colors.scss";

*{
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Nunito, sans-serif;
}

.contentWrapper{
  box-sizing: border-box;
  padding: 10px 15%;
}

button{
  height: auto;
  min-width: 80px;
  border-radius: 15px;
  background-color: #fff;
  border: 2px solid $mediumGreenColor;
  color: $darkGreenColor;
  font-size: 13px;
  padding: 5px 22px;
  font-family: Nunito, sans-serif;
  text-align: center;
  cursor: pointer;
  &:hover{
    background-color: $lightGreenColor;
    border: 2px solid $lightGreenColor;
  }
}

@import "./components/mediaQueries.scss"
