@import "../fonts-colors.scss";

.chosenActionBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33.33% - 30px);
  min-height: 299px;
  padding: 10px;
  margin: 4px;
  border: 1px solid $mediumGreenColor;
  h3{
    margin: 15px 0 5px;
    color: $greenTextColor;
  }
  p {
    font-size: 14px;
    margin: 10px 0;
  }
}

@import "../mediaQueries.scss"
