@import "../fonts-colors.scss";

.singleActionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: 10px;
  .singleActionText{
    width: 100%;
    h3{
      color: $greenTextColor;
    }
  }
  .chosenActionButton{
    margin: 15px 0;
    padding: 12px 22px;
    background-color: inherit;
    border: 2px solid $darkGreenColor;
    color: $darkGreenColor;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background-color: $darkGreenColor;
      border: 2px solid $darkGreenColor;
      color: $lightBlueColor;
      }
  }
}
