@import "../fonts-colors.scss";

.singleActionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  margin: 10px;
  .singleActionText{
    width: 100%;
    h3{
      color: $greenTextColor;
    }
  }
  .chosenActionButton{
    margin-top: 20px;
    margin: 15px 0;
    padding: 12px 25px;
    background-color: $lightGreenColor;
    border: 2px solid $lightGreenColor;
    color: $darkGreenColor;
    background-color: $darkGreenColor;
    border: 2px solid $darkGreenColor;
    color: $lightGreenColor;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      background-color: $lightGreenColor;
      border: 2px solid $lightGreenColor;
      color: $darkGreenColor;
      }
  }
}

@import "../mediaQueries.scss"
